<hibernate-configuration>
<session-factory>
    <!--Настройки подключения к БД-->
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/demo</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">11111</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

    <!--Настройки Hibernate-->
    <property name="show_sql">true</property> <!--Показывать ли SQL запрос в выводе-->
    <property name="hibernate.hbm2ddl.auto">update</property> <!--Авто апдейт БД-->
    <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
    <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>

    <!--<mapping class="Student"/>-->
<!--    <mapping class="relationShips.Person"/>-->
    <mapping class="relationShips.Hobbies"/>
    <!--<mapping class="relationShips.HomeAddress"/>-->
    <mapping class="inheritance_strategy.Car"/>
<!--    <mapping class="inheritance_strategy.Opel"/>-->
<!--    <mapping class="inheritance_strategy.Toyota"/>-->

</session-factory>
</hibernate-configuration>